Repository onekey-sec/unblob: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt, statix, deadnix, taplo-format, cargo-fmt, cargo-clippy

nixfmt:
  name: Format Nix (nixfmt)
  language: system
  require_serial: true
  entry: bash -c 'command -v nix && nix "$@" || echo "skipping nixfmt"' nix
  args:
  - --experimental-features
  - nix-command flakes
  - --accept-flake-config
  - fmt

statix:
  name: Lint Nix (statix)
  pass_filenames: false
  language: system
  entry: bash -c 'command -v nix && statix fix "$@" || echo "skipping statix"'

deadnix:
  name: Lint Nix (deadnix)
  language: system
  entry: bash -c 'command -v nix && deadnix --edit "$@" || echo "skipping deadnix"'

taplo-format:
  name: Format TOML (taplo)
  language: system
  entry: uv run taplo format

cargo-fmt:
  name: Check rust (cargo fmt)
  entry: cargo fmt --all --
  language: system
  pass_filenames: false

cargo-clippy:
  name: Check rust (cargo clippy)
  entry: cargo clippy --tests --all-features -- -D warnings
  language: system
  pass_filenames: false

Updates related to report model refactor.
  docs/guide.md
  package.nix
  python/unblob/file_utils.py
Due: nixfmt, statix, deadnix

Refactored report format to use Pydantic.
  docs/guide.md
  fuzzing/search_chunks_fuzzer.py
  pyproject.toml
  python/unblob/extractors/command.py
  python/unblob/finder.py
  python/unblob/models.py
  python/unblob/processing.py
  python/unblob/report.py
  tests/conftest.py
  tests/extractors/test_command.py
  tests/test_logging.py
  tests/test_models.py
  tests/test_processing.py
  tests/test_report.py
  uv.lock
  vulture_whitelist.py
Due: taplo-format

Added TypeAdapter for deserialization from JSON report. Added test for deserialization.
  python/unblob/models.py
  tests/test_models.py
Due: none

Minor update to documentation on TypeAdapter. Fixed Pydantic definitions to support Python 3.9.
  python/unblob/models.py
  python/unblob/report.py
Due: none

Refactored encode and decode for ExtractCommandFailedReport.
  python/unblob/report.py
  tests/test_models.py
Due: none

Updated vulture whitelist with exceptions for Pydantic models in report.
  python/unblob/report.py
  vulture_whitelist.py
Due: none

Fixed minor formatting issues related to pre-commit checks and refactored vulture whitelisting for report.
  python/unblob/report.py
  vulture_whitelist.py
Due: none

Resolved typing issues in file_utils.py
  python/unblob/file_utils.py
Due: none

Review suggestions
  docs/guide.md
  python/unblob/models.py
  python/unblob/report.py
  tests/test_models.py
  vulture_whitelist.py
Due: none

chore(deps): annd version constraint to all dependencies for renovate
  pyproject.toml
  uv.lock
Due: taplo-format

chore(renovate): update python packages even when change is only needed in uv.lock
  renovate.json
Due: none

chore(typing): ignore pyright argument type report
  python/unblob/file_utils.py
Due: none

feat(handler): improve PE handler
  python/unblob/handlers/executable/pe.py
Due: none

feat(handler): fix false positive
  python/unblob/handlers/executable/pe.py
Due: none

Revert "fix(nix): add patch fixing breakage of treelib in nixpkgs"
  flake.nix
Due: nixfmt, statix, deadnix

ci: test with Python 3.14
  .github/workflows/CI.yml
Due: none

chore(pytest): update multiprocessing coverage integration
  pyproject.toml
  python/unblob/testing.py
Due: taplo-format

chore(nix): use pytest-cov-stub
  package.nix
Due: nixfmt, statix, deadnix

chore(nix): add debug info output for p7zip
  overlay.nix
Due: nixfmt, statix, deadnix

fix(handlers): fix incomplete ordering in YAFFSEntry (reported by CodeQL)
  python/unblob/handlers/filesystem/yaffs.py
Due: none

chore(yaffs): remove unused ordering methods
  python/unblob/handlers/filesystem/yaffs.py
Due: none

chore(deps): add missing upx dependencies to install-deps.sh
  install-deps.sh
Due: none

chore(deps): upgrade minimal python version to 3.10
  .github/actions/setup-dependencies/action.yml
  .github/workflows/CI.yml
  .github/workflows/documentation.yml
  pyproject.toml
  uv.lock
Due: taplo-format

chore(deps): upgrade dependencies
  uv.lock
Due: none

chore(ci): get rid of uraimo/run-on-arch-action in favor of aarch64 runner
  .github/workflows/CI.yml
Due: none

chore(deps): upgrade taplo to 0.10.0
  pyproject.toml
  uv.lock
Due: taplo-format

chore(deps): enable bookworm backports in Dockerfile
  Dockerfile
Due: none

docs/extractors.md: add erofs and partclone
  docs/extractors.md
Due: none

Path conditions:
  nixfmt: any of: \.nix$, but not: ^tests/integration|\.patch|^nix/_sources
  statix: any of: \.nix$, but not: ^tests/integration|\.patch|^nix/_sources
  deadnix: any of: \.nix$, but not: ^tests/integration|\.patch|^nix/_sources
  taplo-format: any of: \.toml$, but not: ^tests/integration|\.patch|^nix/_sources
  cargo-fmt: any of: \.rs$, but not: ^tests/integration|\.patch|^nix/_sources
  cargo-clippy: any of: \.rs$, but not: ^tests/integration|\.patch|^nix/_sources
