Repository onekey-sec/unblob: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt, statix, deadnix, taplo-format, cargo-fmt, cargo-clippy

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
exclude: ^tests/integration|\.patch|^nix/_sources
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: ".*\\.md"
      - id: end-of-file-fixer
      - id: check-json
      - id: check-toml
      - id: check-yaml
        args: ['--unsafe']
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: ruff
        name: Check python (ruff)
        language: system
        types_or: [python, pyi]
        require_serial: true
        entry: uv run ruff check --force-exclude
        args:
          [--output-format=full, --fix, --show-fixes, --exit-non-zero-on-fix]
      - id: ruff-format
        name: Format python (ruff)
        language: system
        types_or: [python, pyi]
        require_serial: true
        entry: uv run ruff format --force-exclude
      - id: nixfmt
        name: Format Nix (nixfmt)
        types: [nix]
        language: system
        require_serial: true
        entry: bash -c 'command -v nix && nix "$@" || echo "skipping nixfmt"' nix
        args:
          - --experimental-features
          - nix-command flakes
          - --accept-flake-config
          - fmt
      - id: statix
        name: Lint Nix (statix)
        types: [nix]
        pass_filenames: false
        language: system
        entry: bash -c 'command -v nix && statix fix "$@" || echo "skipping statix"'
      - id: deadnix
        name: Lint Nix (deadnix)
        types: [nix]
        language: system
        entry: bash -c 'command -v nix && deadnix --edit "$@" || echo "skipping deadnix"'
      - id: taplo-format
        name: Format TOML (taplo)
        language: system
        types: [toml]
        entry: uv run taplo format
      - id: cargo-fmt # rustup component add rustfmt
        name: Check rust (cargo fmt)
        entry: cargo fmt --all --
        language: system
        types: [rust]
        pass_filenames: false
      - id: cargo-clippy # rustup component add clippy
        name: Check rust (cargo clippy)
        entry: cargo clippy --tests --all-features -- -D warnings
        language: system
        pass_filenames: false
        types: [rust]

  - repo: https://github.com/jendrikseipp/vulture
    rev: v2.14
    hooks:
      - id: vulture
        name: Check vulture

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.33.1
    hooks:
      - id: check-github-actions
        name: Check Github actions
      - id: check-github-workflows
        name: Check Github workflows

  - repo: https://github.com/renovatebot/pre-commit-hooks
    rev: 40.59.3
    hooks:
      - id: renovate-config-validator
        args: [--strict]

fix(yaffs): fix PLW1641 reported by ruff v0.12.0
  python/unblob/handlers/filesystem/yaffs.py
Due: none

feat(processing): add unblob dedicated temporary directory handling
  python/unblob/processing.py
  python/unblob/sandbox.py
  tests/test_cli.py
  tests/test_sandbox.py
Due: none

docs: Updated the uv command for installing Python dependencies.
  docs/development.md
Due: none

fix(unblob): unnecessary carving of padding in qnx elf file
  python/unblob/handlers/executable/elf.py
Due: none

fix(doc): only generate documentation for handler with a valid DOC attribute
  python/unblob/cli.py
  python/unblob/models.py
Due: none

WIP: add support for MSI
  python/unblob/handlers/__init__.py
  python/unblob/handlers/archive/msi.py
  python/unblob/processing.py
Due: none

fix: ensure output directory is created before extraction start
  python/unblob/cli.py
Due: none

chore(deps): add python-msi dependency
  pyproject.toml
  uv.lock
Due: taplo-format

feat(handler): clean up msi handler
  python/unblob/handlers/archive/msi.py
Due: none

feat(handler): support NSIS Installers
  python/unblob/handlers/__init__.py
  python/unblob/handlers/executable/pe.py
Due: none

fix(docker): pin down base image to debian bookworm
  Dockerfile
Due: none

chore(nix): nixfmt-rfc-style is now just an alias to nixfmt
  flake.nix
Due: nixfmt, statix, deadnix

fix(nix): add patch fixing breakage of treelib in nixpkgs
  flake.nix
Due: nixfmt, statix, deadnix

fix(nix): unblob packaging needs access to pyproject.toml as well
  shell.nix
Due: nixfmt, statix, deadnix

chore: reformat nix files to match latest nixfmt expectations
  flake.nix
  package.nix
Due: nixfmt, statix, deadnix

fix(nix): follow-up changed patch in upstream PR
  flake.nix
Due: nixfmt, statix, deadnix

Revert "fix(docker): pin down base image to debian bookworm"
  Dockerfile
Due: none

chore(deps): replace e2fsprogs source from fork to upstream
  docs/installation.md
  install-deps.sh
Due: none

fix(bug): compute the msi length from header
  python/unblob/handlers/archive/msi.py
Due: none

Refactored report format to use Pydantic.
  docs/guide.md
  fuzzing/search_chunks_fuzzer.py
  pyproject.toml
  python/unblob/extractors/command.py
  python/unblob/finder.py
  python/unblob/models.py
  python/unblob/processing.py
  python/unblob/report.py
  tests/conftest.py
  tests/extractors/test_command.py
  tests/test_logging.py
  tests/test_models.py
  tests/test_processing.py
  tests/test_report.py
  uv.lock
  vulture_whitelist.py
Due: taplo-format

Added TypeAdapter for deserialization from JSON report. Added test for deserialization.
  python/unblob/models.py
  tests/test_models.py
Due: none

Minor update to documentation on TypeAdapter. Fixed Pydantic definitions to support Python 3.9.
  python/unblob/models.py
  python/unblob/report.py
Due: none

Refactored encode and decode for ExtractCommandFailedReport.
  python/unblob/report.py
  tests/test_models.py
Due: none

Updated vulture whitelist with exceptions for Pydantic models in report.
  python/unblob/report.py
  vulture_whitelist.py
Due: none

Fixed minor formatting issues related to pre-commit checks and refactored vulture whitelisting for report.
  python/unblob/report.py
  vulture_whitelist.py
Due: none

Resolved typing issues in file_utils.py
  python/unblob/file_utils.py
Due: none

Review suggestions
  docs/guide.md
  python/unblob/models.py
  python/unblob/report.py
  tests/test_models.py
  vulture_whitelist.py
Due: none
